:root {
    --cor-de-fundo: #EBECEE;
}
body {
    background-color: var(--cor-de-fundo);
}
h1 {
    background-color: white;
}

:root {
  --cor-de-fundo: #EBECEE;
}

body {
background-color: (--cor-de-fundo);
}

h1,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0; {
  background-color: white;
}
margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
   inherit;
  vertical-align: baseline;
  display: block;
}

body {
  line-height: 1;
}

ol
}
:root {
    --cor-de-fundo: #EBECEE;
}

    
      